@import './normalize.scss';

$cardShadow: rgba(0, 0, 0, 0.2);
$breakPoint: 1080px;
$mainBlueColor: rgba(72, 155, 218, 1);

html {
    font-size: 14px;

}

body {
    font-family: "PingFang TC", "STHeiti Light", "Microsoft JhengHei", "Helvetica", "Arial", "Verdana", "sans-serif";
    -webkit-font-smoothing: antialiased;
    background-color: #f9f9f9;
    color: #595959;
}

address {
    font-style: normal;
}

ul {
    padding: 0;

    li{
        list-style: none;
    }
}

a{
    word-break: break-all;
}

button {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgba(89, 89, 89, .4);
}

.warningTemplate {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.goTop{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $mainBlueColor;
    opacity: .5;
    position: fixed;
    bottom: 10px;
    right: 10px;
    &:before{
        content: "Top";
        color: #fff;
    }
}

.travelSpotList {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 20px;

    @media (max-width: $breakPoint) {
        width: 90%;
        margin: 0 auto 40px;
    }

    h1{
        font-size: 2rem;
        position: relative;
        margin-bottom: 50px;

        &:before, &:after{
            content:"";
            position: absolute;
            bottom: -10px;
            height: 3px;
            border-radius: 1.5px;
            background-color: $mainBlueColor;
        }

        &:before{
            width: 150px;
            left: 0;
        }

        &:after{
            width: 20px;
            left: 160px;
        }

        span{
            font-size: 1rem;
            margin-left: 20px;
            color: #aaa;
        }
    }

    button{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 1px 1px 5px 0px $cardShadow;
        margin: 60px 0;
    }
}

.SpotCard {
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px $cardShadow;
    cursor: pointer;
    margin-bottom: 40px;
    display: flex;
    overflow: hidden;
    min-height: 120px;

    &:hover{
        transform: translate(1px, 1px);
        border: 1px solid $mainBlueColor;
    }

    &:nth-last-child(1) {
        margin-bottom: 0;
    }

    h2 {
        margin: 0 0 20px;
        font-size: 2rem;
        line-height: 2.2rem;

        @media (max-width: $breakPoint) {
            font-size: 1.5rem;
            margin-top: 25px;
        }

        span{
            font-size: 11px;
            line-height: 14px;
            background-color: $mainBlueColor;
            color: #fff;
            border-radius: 2px;
            display: inline-block;
            padding: 2px 5px;
            margin-left: 5px;
        }
    }

    .SpotCard__img {
        flex: none;
        width: 30%;
        height: auto;
        background-image: url('../static/image/view.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: $breakPoint) {
            width: 40%;
        }
    }

    .SpotCard__info {
        flex: 1;
        padding: 10px;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .distric{
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        line-height: 20px;
        padding: 0 10px;
        font-size: 12px;
        background-color: $mainBlueColor;
        color: #fff;
        border-bottom-left-radius: 2px;

        @media (max-width: $breakPoint) {
            left: 0;
            right: auto;
            width: 100%;
            border-bottom-left-radius: 0;

        }
    }

    .category{
        margin-top: auto;
        font-size: 12px;
        color: #aaa;
        text-align: right;
        li{
            display: inline-block;
            &:after{
                content: "ã€";
            }

            &:nth-last-child(1){
                &:after{
                    content: "";
                }
            }
        }
    }
}

.TravelSpot {
    width: 100%;
    max-width: 1080px;
    padding: 10px 15px;
    margin: 0 auto;

    @media (max-width: $breakPoint) {
        padding: 0;
    }

    .TravelSpotInfo {
        border-radius: 5px;
        box-shadow: 1px 1px 5px 0px $cardShadow;
        padding: 20px 10px;
        background-color: #fff;

        @media (max-width: $breakPoint) {
            width: 90%;
            margin: 0 auto 40px;
        }
    }

    img {
        width: 100%;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    >p {
        padding: 10px 20px;
    }

    button {
        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent #000000 transparent transparent;
            vertical-align: middle;
            margin-right: 3px;
        }
    }



    .TravelSpotInfoDetail {
        padding: 10px 20px;

    }

    .infoRow {
        display: flex;
        margin-bottom: 15px;

        .infoRow__title {
            flex: none;
            width: 100px;
        }

        .infoRow__info {
            flex: 1;
        }
    }

    .openTime {
        line-height: 20px;
    }

    .openTime,
    .introduction {
        white-space: pre-wrap;
    }

    .introduction {
        margin: 15px 0;
    }
}